header {
    background-color: #333;
    padding: 10px 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

footer {}

main {}
