/* Стилі для хедера */
header {
    background-color: #333;
    padding: 10px 0;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: white;
    text-decoration: none;
}

/* Стилі для футера */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

/* Базові стилі для секцій з ефектом появи */
section {
    opacity: 0;
    /* початково невидимі */
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

/* Клас для показу секцій при скролі */
section.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Стилі для заголовків та параграфів всередині секцій */
section h2,
section p {
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.7s ease-out;
}

section.appear h2,
section.appear p {
    opacity: 1;
    transform: translateY(0);
}

main {
    padding: 20px;
}